.banner-container{
  position: relative;
}

.banner-top{

  text-align: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  display:flex;
  flex-direction: column;
  background-size: cover !important;
  align-items: center;
  justify-content: flex-end;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(61,61,61,0.68) 50%), url("background.jpg");
  background-repeat: no-repeat;
  background-position: 60%;
  padding-left: 0px;
  height:80vh;
  position: absolute;
  z-index: 10;
  width:100%;
  p {
     color: #EB5757;
     justify-self: center;
  }

}

.banner-bottom{
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  align-items: center;
  justify-content: center;
  background-image: url('table.jpg');
  background-repeat: no-repeat;
  background-position: 60%;
  padding-left: 0px;
  position: relative;
  width:100%;
    p{
  position: absolute;
font-size: 9px;
letter-spacing: 0.04em;
text-transform: uppercase;
bottom:10px;
color:white;
  }
}

.banner-content {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.banner-form {
  display: flex;
  flex-direction: column;
  margin-bottom: -25px;
  align-items: center;
  color: $body-bg;
  select {
    width: 30vw;
    text-indent: 10px;
     text-align-last:center;
  }
  button {
    margin-top: 20px;
  }
}


.btn-start{
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: #EB5757;
  border-color: #EB5757;
  bottom: -30px;
  box-shadow: 0px 12px 44px rgba(0, 0, 0, 0.67);

}

.button_pick {
  width: 40px;
}


.menu {
color: white;
position: absolute;
top:10px;
left:10px;
font-size: 30px;

}

.banner-botton-text{
  display: flex;
  justify-content: center;

}

.container {
  width: 100%;

}

.carousel-caption {
  position: static;
  p{
    margin: 0px;
  }
}

.meals_home {
  width: 100px;
}

