.show-all{
  position: relative;
  height:100vh;
}

.show-btn-again{
  position:absolute;
  bottom:5px;
  right:5px;
  width: 35px;
  cursor: pointer;
}

.banner-show-top {
  height:50vh;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position:relative;
}

.show-down{
  text-align: center;
  height:50vh;
  width: 100%;
  h1 {
    margin: 0;
  }
}

.show-buttons{
  display: flex;
  justify-content: space-around;
  margin-bottom: -25.5px;
}

.show-title{
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  height: 15vh;
  display: flex;
  align-items: center;
  h1{
        padding-top: 30px;
    padding-bottom: 10px;
    margin-top: 12.5px;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: calc(100% + 4vw);

  }
  h2{

       padding-top: 30px;
    padding-bottom: 10px;
    margin-top: 12.5px;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: calc(100% + 2vw);

  }
  h3{

       padding-top: 30px;
    padding-bottom: 10px;
    margin-top: 12.5px;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: calc(100% + 1vw);
 }
}

.show-meal{
  display: flex;
  border: 1px solid #EB5757;
  color:#EB5757;
  padding:3px;
  margin-bottom:15px;
  margin:5px;
  p{
    margin-bottom:0px;
    font-size:15px;
  }
}

.logo {
  width: 80px;
  position: absolute;
  top:10px;
  right: 10px;
}

.img_btn {
  width: 70px;
}



.people-icon{
  height: 25px;
  margin-left: 5px;

}

.menu-icon{
  height: 25px;
  margin-left: 3px;
}

.show-price{
  display:flex;
  justify-content: center;
  height: auto;
  margin-right: 15px;

  p{
    margin:0px;
  }
}

.show-menu-price{
  display: flex;
  justify-content: center;

}

.show-menu{
  display:flex;
  justify-content: center;
  height: auto;
  margin-left: 15px;
}


.show-time{
  display:flex;
  justify-content: center;
  height: auto;
  margin-rigth: 15px;
  p{
    margin:0px;
  }
}


.clock-icon{
  height: 25px;
  margin-right: 3px
}

.show-meal-all{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height: 171.5px;
  border-bottom: 1px solid #EB5757;
  border-top: 1px solid #EB5757;
  margin-left: 20px;
  margin-right: 20px;
  height: 25vh;
  padding-top: 5px;
}

.show-meal-both{
  display:flex;
  flex-direction: column;
}
.show-meal-block{
  display: flex;
  justify-content: center;
}

.second{
  margin-bottom: 10px;
}

.show-pay-time{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;

}

.show-down-btn{

  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
