.show-all{
  position: relative;
  height:50vh;
}

.show-btn-again{
  position:absolute;
  bottom:5px;
  right:5px;
  width: 35px;
  cursor: pointer;
}

.banner-show-top {
  height:50vh;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position:relative;
}

.show-down{
  text-align: center;
  height:50vh;
  width: 100%;
  h1 {
    margin: 0;
  }
}

.show-buttons{
  display: flex;
  justify-content: space-around;
  margin-top: -36.5px;
}

.show-title{
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  height: 17vh;
  display: flex;
  align-items: center;
  h1{
      padding-top: 2em;
    padding-bottom: 1em;
    margin-top: 1em;
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
    font-size: calc(100% + 1em);

  }
    h2 {
    padding-top: 2em;
    padding-bottom: 1em;
    margin-top: 1em;
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
    font-size: calc(100% + 0.8em);
    }

  h3 {
    padding-top: 2em;
    padding-bottom: 1em;
    margin-top: 1em;
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
    font-size: calc(100% + 0.5em);

  }
  h4{
        padding-top: 2em;
    padding-bottom: 1em;
    margin-top: 1em;
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
    font-size: calc(100% + 0.2em);
 }

}

.show-rate {
  display: flex;
  justify-content: space-around;
  height: 8vh;
  width: 100%;
}

.show-meal{
  display: flex;
  border: 1px solid #EB5757;
  color:#EB5757;
  padding:3px;
  margin-bottom:15px;
  margin:5px;
  border-radius: 2px;
  p{
    margin-bottom:0px;
    font-size:15px;
  }
}

.logo {
  width: 80px;
  position: absolute;
  top:10px;
  right: 10px;
  z-index: 10000;
}

.img_btn {
  width: 70px;
}



.people-icon{
  height: 25px;
  margin-left: 5px;

}

.menu-icon{
  height: 25px;
  margin-left: 3px;
}

.show-price{
  display:flex;
  justify-content: center;
  height: auto;
  // margin-right: 15px;

  p{
    margin:0px;
  }
}

.show-menu-price{
  display: flex;
  justify-content: center;

}

.show-menu{
  display:flex;
  justify-content: center;
  height: auto;
  margin-left: 15px;
}


.show-time{
  display:flex;
  justify-content: center;
  height: auto;
  margin-rigth: 15px;
  margin-left: -44px;
  margin-top: 7px;
  p{
    margin:0px;
  }
}


.clock-icon{
  height: 25px;
  margin-right: 3px
}

.show-meal p{
  font-size: 10px;
}

.show-meal-all{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 1px solid #EB5757;
  border-top: 1px solid #EB5757;
  height: 25vh;
  padding-top: 0.2em;
  margin: 0 20px;
}

.show-meal-both{
  display:flex;
  flex-direction: column;
}
.show-meal-block{
  display: flex;
  justify-content: center;
}

.second{
  margin-bottom: 10px;
}

.show-pay-time{
  display: flex;
  justify-content: space-around;

}

.show-down-btn{

  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.show-down {
  position: relative;
}

#rating{
  background-color: #EB5757;
  color:#FFFFFF;
  padding: 3px 5px;
  border-radius: 5%;
  position: absolute;
  border: 1px solid #EB5757;
  bottom: 21px;
  font-size: 13px;
  left: 40%;
  // margin-bottom:15px;
  // margin:5px;
}

.show-menu2{
  display:flex;
  justify-content: center;
  height: auto;
  margin-left: 15px;

  // margin-top: 7px;
}

.show-menu-price2{
  display: flex;
  justify-content: center;
  margin-left: 17px;
  margin-top:-12px;
}

a {
  z-index: 1000;
}


