.show-all{
  position: relative;
}

.banner-show-top{
  height:60vh;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: 60%;
}

.show-down{
  text-align: center;
}

.logo {
  width: 100px;
}

.img_btn {
  width:100px;
}
