<!-- <div class="navbar-wagon"> -->
  <!-- Right Navigation -->
  <!--   <div class="navbar-wagon-right hidden-xs hidden-sm"> -->

  <!--   <a href="" class="navbar-wagon-item navbar-wagon-link">Host</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Trips</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Messages</a> -->

    <!-- Profile picture with dropdown list -->
  <!--   <div class="navbar-wagon-item">
    <div class="dropdown"> -->

     <!-- <a href=""><i class="fas fa-bars menu dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"></i></a> -->

    <!--     <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="fas fa-bars menu avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div> -->

<div class="navbar-wagon-item">
  <div class="dropdown">
   <i class="fas fa-bars menu avatar dropdown-toggle"  data-toggle="dropdown" id="navbar-wagon-menu"></i>
   <ul class="dropdown-menu dropdown-menu-left navbar-wagon-dropdown-menu">


    <%  if current_user.nil? %>
    <li><%= link_to 'Log in', new_user_session_path%></li>
    <li><%= link_to 'Sign up', new_user_registration_path %></li>
    <%else %>
    <li><%= link_to 'Dashboard', places_my_places_path %></li>
    <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
    <%end  %>

  </ul>
</div>
</div>

