<div class="col-xs-12" style= "padding: 0px">

<div class="banner-top">

    <a href=""><i class="fas fa-bars menu"></i></a>
<p style= "color: #EB5757">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    <a class="btn btn-primary btn-lg btn-start"></a>

</div>

<div class="banner-bottom">
  <div class="banner-bottom-content">

  </div>
</div>





</div>
