<div class="col-xs-12" style= "padding: 0px">
  <div class="banner-container">
    <div class="banner-top">
      <a href=""><i class="fas fa-bars menu"></i></a>
      <div class="banner-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>



        <form class="form banner-form" action="/places/show" method="get">
          <select name="meal_type" id="meal">
            <option value="Brunch">Brunch</option>
            <option value="Lunch">Lunch</option>
            <option value="Dinner">Dinner</option>
            <option value="Drinks">Drinks</option>
          </select>
          <button class="btn btn-primary btn-lg btn-start" type="submit" action="/places/show method="get"></button>
        </form>
      </div>
    </div>
    <div class="banner-bottom">
      <div class="banner-bottom-content">
      </div>
    </div>
  </div>
</div>
