<div class="col-xs-12" style= "padding: 0px">
  <div class="banner-container">
    <div class="banner-top">

      <a href=""><i class="fas fa-bars menu"></i></a>
      <%= image_tag "pick_logo.png", {class: "logo"}%>
      <div class="banner-content">
        <form class="form banner-form" action="/places/show" method="get">
          <select name="meal_type" id="meal">
            <option value="Brunch">Brunch</option>
            <option value="Lunch">Lunch</option>
            <option value="Dinner">Dinner</option>
            <option value="Drinks">Drinks</option>
          </select>
          <button class="btn btn-lg btn-start" id="a" type="submit" action="/places/show" method="get" ><%= image_tag "Ellipse (1).png", {class: "button_pick"} %></button>
        </form>
      </div>
    </div>
    <div class="banner-bottom">
      <div class="banner-botton-text">
        <p>Long press for more settings</p>
      </div>
    </div>
  </div>
</div>





  <script type="text/javascript">





    $("#a").mouseup(function(){
      clearTimeout(pressTimer);
      // Clear timeout
      return false;
    }).mousedown(function(){
      // Set timeout
      pressTimer = window.setTimeout(function() {
        location.href = "/places/search";
      },1000);

      return false;
    });

  </script>












