.carousel-caption {
    padding-top: 0px;
    padding-bottom: 0px;
}


#carousel-control-right .glyphicon-chevron-right {
    right: 12%;
    margin-right: -18px;
    font-size: 25px;
}

#carousel-control-left .glyphicon-chevron-left {
    left: 5%;
    margin-right: -18px;
    font-size: 25px;

}

.carousel-control {
  margin-top: 40px;
}

.carousel {
  z-index: 90;
}
