  <div class="container">
    <div class="slider-wrapper">
      <div id="slider-range"></div>

      <div class="range-wrapper-left">
        <div class="range-left"></div>
        <div class="range-left-hidden"></div>

      </div>

      <div class="range-wrapper-right">
        <div class="range-right"></div>
        <div class="range-right-hidden"></div>
      </div>

    </div>

  </div>

