  <div class="container">
    <div class="radius-slider-wrapper">
      <div id="radius-slider-range"></div>

<!--       <div class="radius-range-wrapper-left">
        <div class="radius-range-left"></div>
        <div class="radius-range-left-hidden"></div>

      </div>
 -->
      <div class="radius-range-wrapper-right">
        <div class="radius-range-right"></div>
        <div class="radius-range-right-hidden"></div>
      </div>

    </div>

  </div>
