<h1>Places#search</h1>

<!-- Cuisine Type -->
  <form class="form" action="/places/show" method="get">
    <input class="form-control mr-sm-2" type="text" name="cuisine_type" placeholder="Cuisine Type" action="/places/show method="get" style="width: 220px;">


    <input class="form-control mr-sm-2" id="place_address"  type="text" name="place" placeholder="City" action="/places/show method="get" style="width: 220px;">

<!-- Location
     Radius
 -->
    <div class="slidecontainer">
      <input class="form-control" type="range" min="7" max="300" step="0.1" value="10" name="radius" id="myRange" action="/places/show" method="get">
        <p>Value: <span id="demo"></span></p>
    </div>
    <script>
      var slider = document.getElementById("myRange");
      var output = document.getElementById("demo");
      output.innerHTML = slider.value;

      slider.oninput = function() {
        output.innerHTML = this.value;
      }
    </script>

  <button class="btn-bike-me" type="submit" action="/places/show method="get">Apply Filters</button>
  </form>

