<h1>Places#search</h1>

<!-- Cuisine Type -->
  <form class="form" action="/places/show method="get">
    <input class="form-control mr-sm-2" type="text" name="cuisine_type" placeholder="Cuisine Type" action="/places/show method="get" style="width: 220px;">

<!-- Location
     Radius
 -->
 <input class="form-control mr-sm-2" type="text" name="location" placeholder="Location" action="/places/show method="get" style="width: 220px;">
<!-- Prince Range -->


<!-- Call to Action -->

  <button class="btn-bike-me" type="submit" action="/places/show method="get">Apply Filters</button>
  </form>

