<div class="col-xs-12" style= "padding: 0px">
  <div class="banner-container">
    <div class="banner-top">
    <div class="banner-top-image blur"></div>

    <div class="details">


      <%= form_for("search", :url => { :action => "show" }, :html => { :method => "GET"}) do |f| %>
      <input type="hidden" name="meal_type" value=<%= @meal_type %> >
      <div class="form-group">
        <%= f.select( :cuisine_types, @unique_types, {}, {multiple: true, id: "selectize"}) %>
      </div>
      <input class="form-control mr-sm-2" id="place_address"  type="text" name="place" placeholder="City" action="/places/show method="get" style="width: 220px;">


<!-- Location
     Radius
   -->
   <!-- <input class="form-control mr-sm-2" type="text" name="radius" placeholder="Radius" action="/places/show method="get" style="width: 220px;"> -->
   <div class="slidecontainer">
    <input class="form-control" type="range" min="0" max="30" step="0.1" value="0" name="radius" id="myRange" action="/places/show" method="get">
    <p>Value: <span id="demo"></span></p>
  </div>
  <script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function() {
      output.innerHTML = this.value;
    }
  </script>

  <button class="btn-bike-me" type="submit" method="get">Apply Filters</button>

  <% end %>

      </div>
    </div>
    <div class="banner-bottom blur">
    </div>
  </div>
</div>

